# Line endings: enforce LF in GitHub, convert to native on checkout.

* text=auto
*.js text

# Make GitHub ignore vendor libraries while computing language stats.
# See https://github.com/github/linguist#overrides.

*.proto linguist-vendored=true
*.sh linguist-vendored=true
*.bat linguist-vendored=true
*.css linguist-vendored=true
*.html linguist-vendored=true

# Explicitly specify language for non-standard extensions used under
# ide/web/lib/templates to make GitHub correctly count their language stats.
# 
*.js_ linguist-language=JavaScript