canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
}

body {
  margin: 0;
  overflow: hidden;
}

#file {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 999;
  display: none;
}

.btn {
  position: absolute;
  z-index: 9999;
  background: rgba(255,255,255,0.05);
  font-family: "Andale Mono", AndaleMono, monospace;
  border: 1px solid rgba(255, 255, 255, .35);
  color: rgba(255, 255, 255, .75);
  text-decoration: none;
  min-width: 80px;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 16px;
}

#download {
  left: 5px;
  bottom: 5px;
}

#bucket {
  bottom: 28px;
  left: 5px;
}

#rectangle {
  bottom: 51px;
  left: 5px;
}

#ellipse {
  bottom: 74px;
  left: 5px;
}

#tiled {
  bottom: 52px;
  left: 5px;
}

.color {
  min-width: 0px;
  width: 16px;
  height: 19px;
  padding: 0px;
  margin: 0px;
  line-height: 0px;
  border: none;
  background: transparent;
  bottom: 72px;
  left: 3px;
}
