canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  cursor: none;
}

@font-face {
  font-family: Hasklig;
  src: url("./assets/font/Hasklig.otf") format("opentype");
}

body {
  margin: 0;
  overflow: hidden;
  font-family: Hasklig, monospace;
  font-size: 15px;
  line-height: 1.5;
}

#file {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 999;
  display: none;
}

.btn {
  position: absolute;
  z-index: 9999;
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255, 255, 255, .35);
  color: rgba(255, 255, 255, .75);
  text-decoration: none;
  min-width: 80px;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 16px;
  cursor: pointer;
}

input[type="color"] {
	opacity: 0;
	display: block;
	width: 32px;
	height: 32px;
	border: none;
  padding: 0px;
}

.color-wrapper {
  background: transparent;
  width: 8px;
  height: 23px;
  border-radius: 14px;
  display: inline-block;
  width: 23px;
  height: 23px;
  opacity: 0.65;
  /*transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  -webkit-transition: opacity 0.1s ease-in-out;*/
  vertical-align: bottom;
  position: relative;
}

.color-wrapper:hover {
  opacity: 0.9;
}

#color {
  opacity: 0 !important;
  width: 28px;
  top: -1px;
  margin: 0;
  padding: 0;
}

.bottom-menu {
  position: absolute;
  z-index: 10;
  left: 0px;
  bottom: 0px;
  background: rgba(31, 31, 31, 0.95);
  height: 32px;
  width: 100%;
  cursor: default;
  display: inline;
  text-align: center;
}

.bottom-menu-items {
  height: inherit;
}

.bottom-menu-items .item {
  top: 6px;
  width: 21px;
  height: 21px;
  position: relative;
  opacity: 0.295;
  padding-right: 8px;
  padding-left: 8px;
  /*transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  -webkit-transition: opacity 0.1s ease-in-out;*/
}

.bottom-menu-items .item:hover {
  opacity: 0.55;
}

.bottom-menu-items .item:active {
  opacity: 0.75;
}

#upload {
  float: right;
}
#download {
  float: right;
}
#undo {
  float: right;
}
#redo {
  float: right;
}
#beautify {
  float: left;
}
#select {
  float: left;
}
#move {
  float: left;
}
#arc {
  float: left;
}
#rectangle {
  float: left;
}

.cursor {
  position: absolute;
  width: 21px;
  height: 21px;
  display: none;
  pointer-events: none;
  z-index: 0;
}

#cursors {
  opacity: 0.75;
}

.unavailable {
  cursor: not-allowed !important;
}

.dropdown-content {
  height: auto;
  position: absolute;
  background: rgba(0,0,0,0.1);
  padding-bottom: 2px;
}

.dropdown-wrapper div {
  margin: 5px 5px 6px 5px;
  float: left;
  width: 18px;
  height: 18px;
  position: relative;
  opacity: 0.75;
  cursor: pointer;
  height: 18px;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  opacity: 0;
  visibility: hidden;
  min-width: 110px;
  font-size: 9px;
  background-color: rgba(31, 31, 31, 0.95);
  color: #838383;
  text-align: center;
  padding: 4px 0;
  border-radius: 0px;
  position: absolute;
  z-index: 1;
  /*transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;*/
  bottom: 102%;
  left: 50%;
  margin-left: -60px;
  border: 1px solid rgba(255,255,255,0.05);
}

.tooltip:hover .tooltiptext {
  opacity: 1;
  visibility: visible;
}

.tooltiptext:hover {
  opacity: 0 !important;
  visibility: hidden !important;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.dropdown-content {
  border-top: 1px solid rgba(255,255,255,0.05);
  border-left: 1px solid rgba(255,255,255,0.05);
  border-right: 1px solid rgba(255,255,255,0.05);
  border-radius: 0px;
  font-size: 10px;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: rgba(31, 31, 31, 0.95);
  z-index: 1;
  margin-top: -167px;
  margin-left: -17px;
  min-width: 77px;
  /*transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;*/
}

.dropdown-content .active {
  background-color: rgba(38, 38, 38, 0.55);
  color: #a1a1a1;
}

.dropdown-content a {
  border-bottom: 1px solid rgba(30, 30, 30, 0.95);
  padding: 6px 0px;
  text-decoration: none;
  display: block;
  color: #5c5c5c;
}

.dropdown-content a:hover {
  background-color: rgba(38, 38, 38, 0.95) !important;
  color: #c3c3c3;
}

.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
}

#menu {
  position: absolute;
  z-index: 9999;
  border: 1px solid rgba(255,255,255,0.075);
  border-radius: 0px;
  background-color: rgba(31, 31, 31, 0.95);
  opacity: 0.9;
  visibility: hidden;
}

.dropdown-wrapper {
  height: inherit;
  background: rgba(0,0,0,0);
  max-width: 235px;
}

#colors div {
  opacity: 0.65;
  border: 1px solid black;
}

#colors div:hover {
  opacity: 0.9;
}

.right-menu {
  position: absolute;
  z-index: 10;
  top: 0px;
  right: 0px;
  width: 128px;
  height: calc(100% - 32px);
  background: rgba(31, 31, 31, 0.95);
  text-shadow: 0 0 black;
}

.layer-item {
  height: 20px;
  text-align: center;
  font-size: 10px;
  background-color: rgba(31, 31, 31, 0);
  color: #838383;
  padding: 4px 0;
  border-radius: 0px;
  border-bottom: 1px solid rgba(255,255,255,0.02);
  cursor: pointer;
  width: 124px;
  margin-left: 1px;
}

.layer-item-preview {
  opacity: 0.0;
}

.layer-item:hover + .layer-item-preview {
  opacity: 1.0;
}

.layer-item img:hover {
  opacity: 0.65;
}

.layer-item input {
  outline: none;
}

.layer-item input:hover {
  color: #939393;
}

.layer-wrapper {
  top: 56px;
  max-height: 142px;
  min-height: 142px;
  position: absolute;
  width: 100%;
  border-top: 1px solid rgba(255,255,255,0.02);
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgba(42, 42, 42, 0.175);
}

.layer-title {
  padding: 4px;
  text-align: center;
  font-size: 10px;
  color: #838383;
  border-radius: 0px;
  cursor: pointer;
  margin-left: 1px;
  background: rgba(0,0,0,0);
}

.layer-span-title {
  float: left;
  padding: 5px;
  padding-left: 8px;
}

.layer-title-img {
  width: 26px;
  height: 26px;
  opacity: 0.295;
  float: left;
  padding-left: 22px;
}

.layer-item-visible {
  margin-top: 2px;
  width: 16px;
  height: 16px;
  opacity: 0.295;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}

.layer-item-locked {
  margin-top: 2px;
  width: 16px;
  height: 16px;
  opacity: 0.295;
  padding-right: 10px;
  margin-left: -5px;
  float: left;
}

.layer-text {
  border: 0;
  background-color: rgba(0,0,0,0);
  width: calc(100% - 64px);
  height: 20px;
  color: #838383;
  font-size: 10px;
  margin-top: -1px;
  margin-left: -12px;
}

.layer-text[readonly] {
  cursor: pointer;
  outline: none;
  border: none;
  color: transparent;
  text-shadow: 0 0 0 gray;
}

.layer-menu {
  top: 152px;
  position: absolute;
  width: 100%;
  background: rgba(0,0,0,0);
  padding-bottom: 0px;
  text-align: center;
  cursor: default;
}

.layer-menu img {
  width: 20px;
  height: 20px;
  opacity: 0.295;
  cursor: pointer;
}

.layer-menu img:hover {
  opacity: 0.65;
}

.selected {
  background-color: rgba(42, 42, 42, 0.75);
  -webkit-filter: saturate(2.75);
  filter: saturate(2.75);
}

::-webkit-scrollbar-track {
	border-radius: 4px;
	background-color: rgba(255,255,255,0.1);
}

::-webkit-scrollbar {
	width: 6px;
	background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(42,42,42,1.0);
}

::selection {
  background: rgba(0,0,0,0);
}

::-moz-selection {
  background: rgba(0,0,0,0);
}
