/*canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
}*/

body {
  margin: 0;
  overflow: hidden;
  font-family: Verdana,sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

#file {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 999;
  display: none;
}

.btn {
  position: absolute;
  z-index: 9999;
  background: rgba(255,255,255,0.05);
  font-family: "Andale Mono", AndaleMono, monospace;
  border: 1px solid rgba(255, 255, 255, .35);
  color: rgba(255, 255, 255, .75);
  text-decoration: none;
  min-width: 80px;
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 16px;
  cursor: pointer;
}

input[type="color"] {
	opacity: 0;
	display: block;
	width: 32px;
	height: 32px;
	border: none;
  padding: 0px;
}

.color-wrapper {
  background: transparent;
  width: 8px;
  height: 23px;
  border-radius: 14px;
  display: inline-block;
  width: 28px;
  height: 28px;
  opacity: 0.65;
  transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  -webkit-transition: opacity 0.1s ease-in-out;
  top: 2px;
  vertical-align: bottom;
  position: relative;
}

.color-wrapper:hover {
  opacity: 0.9;
}

#color {
  opacity: 0 !important;
  width: 28px;
  top: -1px;
  margin: 0;
  padding: 0;
}

.bottom-menu {
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: rgba(31, 31, 31, 0.95);
  height: 38px;
  width: 100%;
  cursor: default;
  display: inline;
  text-align: center;
}

.bottom-menu-items {
  height: inherit;
}

.bottom-menu-items .item {
  top: 6px;
  width: 26px;
  height: 26px;
  position: relative;
  opacity: 0.295;
  padding-right: 8px;
  padding-left: 8px;
  cursor: pointer;
  transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  -webkit-transition: opacity 0.1s ease-in-out;
}

.bottom-menu-items .item:hover {
  opacity: 0.55;
}

.bottom-menu-items .item:active {
  opacity: 0.75;
}

#upload {
  float: right;
}
#download {
  float: right;
}
#beautify {
  float: left;
}
#select {
  float: left;
}
#move {
  float: left;
}
#arc {
  float: left;
}
#rectangle {
  float: left;
}

.cursor {
  position: absolute;
  width: 18px;
  height: 18px;
  display: none;
}

#cursors {
  opacity: 0.75;
}

.unavailable {
  cursor: not-allowed !important;
}

.dropdown-content {
  height: auto;
  position: absolute;
  background: rgba(0,0,0,0.1);
  padding-bottom: 2px;
}

.dropdown-wrapper {
  height: inherit;
  background: rgba(0,0,0,0);
  padding-top: 2px;
  max-width: 164px;
}

.dropdown-wrapper div {
  margin: 5px;
  float: left;
  width: 18px;
  height: 18px;
  position: relative;
  opacity: 0.75;
  cursor: pointer;
  height: 18px;
}